html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  /* font-family: sans-serif; */
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: auto;
}

/**************************/
/* HEADER */
/**************************/

.main-nav {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-flex {
  display: flex;
  align-items: center;

  gap: 0.1rem;
  width: 25rem;
  margin-left: 1rem;
}

.logo-flex a:link,
.logo-flex a:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.logo-and-search-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search {
  position: relative;
  height: 4rem;
  width: 35rem;
}

.search input[type="text"] {
  height: 4rem;
  width: 35rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: 1.5px solid #ccc;
  padding: 1rem 1rem 1rem 4rem;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32' stroke-width='1.2' stroke='grey' class='w-10 h-8'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 1rem 0.4rem;
}

.search-list {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0 0 0 2rem;
  display: none;
  width: 31rem;
  height: auto;
  z-index: 1;
  border: 1px solid #ccc;
}

.search-list li a {
  background-color: #fff;
  padding: 12px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
  display: block;
}

.search-list li a:hover:not(.header) {
  background-color: #eee;
}

/**************************/
/* NAVIGATION */
/**************************/

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.nav-list-links:link,
.nav-list-links:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 450;
  padding: 0.8rem 1.6rem;
  background-color: #fff;
}

.nav-list-links:hover,
.nav-list-links:active {
  background-color: #f1f3f5;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  transition: 0.2s;
}

.nav-list-links:active {
  background-color: #f8f8f8;
}

/**************************/
/* Mobile Nav  */
/**************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4 rem;
  color: #333;
}

.nav-close-icon {
  display: none;
}

/**************************/
/* Main  */
/**************************/

.main {
  margin: 1rem 5rem;
}
.contact-heading h3 {
  font-size: 2rem;
  font-weight: 600;
}

.contact-text {
  font-size: 1.4rem;
  letter-spacing: 0.9;
  line-height: 1.3;
}

.first-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.second-text {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin-top: 1.2rem;
}

.form {
  width: 60rem;
  font-size: 1.4rem;
}

.form input,
.form textarea {
  font-size: 1.4rem;
}

.button {
  background-color: #e6a90c;
  border: none;
  color: #fff8e7;
  padding: 0.8rem 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  margin: 4px 9px;
  border-radius: 0.6rem;
}

.button:hover {
  background-color: #ffbc0d;
}

.button:active {
  background-color: #ffc325;
  transform: scale(0.95);
}

/**************************/
/* FOOTER  */
/**************************/

footer {
  background-color: #212529;
  color: #ced4da;
  padding: 4rem;
  display: flex;
  align-items: center;
  gap: 15rem;
}

.footer-nav ul {
  list-style: none;
  padding: 3rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: #ced4da;
  display: inline-block;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #ffbc0d;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.disclaimer-heading {
  font-size: 1.8rem;
  font-weight: 500;
}

.disclaimer-text {
  font-size: 1.4rem;
  line-height: 1.5;
}

.dev {
  font-size: 1.6rem;
  padding: 1rem 0 2.4rem 0;
  text-align: center;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  body {
    width: fit-content;
  }

  .nav-list {
    gap: 2.8rem;
  }
}

@media (max-width: 1000px) {
  body {
    width: fit-content;
  }

  /* Mobile navigation */

  .btn-mobile-nav {
    display: block;
    z-index: 0;
  }

  .nav {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0%);
  }

  .nav-open .nav-close-icon {
    display: block;
  }

  .nav-open .nav-menu-icon {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-open .nav-list-links:link,
  .nav-list-links:visited {
    font-size: 2.2rem;
  }
}
