html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.working-icon {
  width: 50rem;
}
h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
}
