/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
#ffbc0d
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  /* font-family: sans-serif; */
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #f8f9fa;
  overflow-x: hidden;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: auto;
}

/**************************/
/* HEADER */
/**************************/

.main-nav {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #fff;

  position: relative;
}

.logo-flex {
  display: flex;
  align-items: center;

  gap: 0.1rem;
  width: 25rem;
  margin-left: 1rem;
}

.logo-flex a:link,
.logo-flex a:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.logo {
  width: 7rem;
  height: 7rem;
}

.logo-and-search-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search {
  position: relative;
  height: 4rem;
  width: 35rem;
}

.search input[type="text"] {
  height: 4rem;
  height: auto;
  width: 35rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: 1.5px solid #ccc;
  padding: 1rem 1rem 1rem 4rem;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32' stroke-width='1.2' stroke='grey' class='w-10 h-8'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 1rem 0.4rem;
}

.search-list {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0 0 0 2rem;
  display: none;
  width: 31rem;
  height: auto;
  z-index: 1;
  border: 1px solid #ccc;
}

.search-list li a {
  background-color: #fff;
  padding: 12px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
  display: block;
}

.search-list li a:hover:not(.header) {
  background-color: #eee;
}

/**************************/
/* NAVIGATION */
/**************************/

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.nav-list-links:link,
.nav-list-links:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 450;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  /* background-color: #fff; */
  transition: 0.3s;
}

.nav-list-links:hover {
  background-color: #f1f3f5;
}

.nav-list-links:active {
  background-color: #f8f8f8;
}

/**************************/
/* Mobile Nav  */
/**************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4 rem;
  color: #333;
}

.close-icon {
  display: none;
}
/**************************/
/* Layout  */
/**************************/

.main-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3rem auto;
  row-gap: 3rem;
  column-gap: 4rem;
  margin-bottom: 6.4rem;
}

.main-heading {
  grid-column: 2/-1;
  padding: 0 0 1rem 3rem;
}

/**************************/
/* ASIDE */
/**************************/

main {
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

aside {
  font-family: sans-serif;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  grid-row: 2/-1;
  margin-left: 2rem;
}

.filter-whole {
  /* width: 30rem; */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2rem 0 3rem 2.5rem;
}

.checkbox-flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.checkbox-flex input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.filter-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2f3032;
}

.filter-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #333;
}

.main-heading {
  font-family: sans-serif;
  font-size: 2.6rem;
}

.google-map {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 !important;
}
.google-map h3 {
  font-size: 1.6rem;
}

/**************************/
/* Mobile filter */
/**************************/

.mobile-filter-heading {
  display: none;
  padding: 0 0 1rem 3rem;
}
.mobile-filter-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile-filter-flex h4 {
  font-size: 2.4rem;
}
.filter-icon {
  height: 2.8rem;
  width: 2.8rem;
  color: #333;
}

/**************************/
/* MAIN SECTION */
/**************************/

.restaurants-list {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem; */
  grid-column: 2/-1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-left: 3rem;
}
/* .restaurants-list a:link,
.restaurants-list a:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.restaurants-list a:hover,
.restaurants-list a:active {
  transform: scale(1.04);
} */

.restaurants a:link,
.restaurants a:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.restaurants a:hover,
.restaurants a:active {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.restaurants {
  transition: all 0.3s;
}

.restaurants:hover {
  transform: scale(1.04);
}

.restaurants {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: #333;
  width: 22rem;
}

.img {
  border-radius: 12px 12px 0 0;
  width: 22rem;
  height: 12rem;
}

.restaurants-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: space-around;
  padding: 1.4rem;
  width: 22rem;
  height: 12.5rem;
}

.restaurants-box h3 {
  font-size: 1.8rem;
}

.restaurants-details li {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.3rem;
}

.restaurants-details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.restaurants-details li:last-child {
  margin-bottom: 0;
}

.location-icon {
  width: 24px;
  height: 24px;
  fill: #ffbc0d;
}

.food-plate-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/**************************/
/* TESTIMONIALS  */
/**************************/

.testimonial-box {
  background-color: #997108;
  padding: 2.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 7rem;
}

.testimonial-text {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #e6fcf5;
  align-self: center;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #fff8e7;
  padding-right: 7rem;
  align-self: flex-end;
}

/**************************/
/* ABOUT US  */
/**************************/

.aboutus {
  /* margin-bottom: 8rem; */
  padding-bottom: 8rem;
}

.aboutus-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 0 3rem;
}

.aboutus-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutus h3 {
  font-size: 2rem;
  font-weight: 500;
}

.aboutus p {
  font-size: 1.6rem;
  letter-spacing: 0.9;
  line-height: 1.3;
}

/**************************/
/* FOOTER  */
/**************************/

footer {
  background-color: #212529;
  color: #ced4da;
  padding: 4rem;
  display: flex;
  align-items: center;
  gap: 15rem;
}

.footer-nav ul {
  list-style: none;
  padding: 3rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: #ced4da;
  display: inline-block;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #ffbc0d;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.disclaimer-heading {
  font-size: 1.8rem;
  font-weight: 500;
}

.disclaimer-text {
  font-size: 1.4rem;
  line-height: 1.5;
}

.dev {
  font-size: 1.6rem;
  padding: 1rem 0 2.4rem 0;
  text-align: center;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  body {
    width: fit-content;
  }

  .nav-list {
    gap: 2.8rem;
  }
}

@media (max-width: 1000px) {
  .restaurants-list {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-left: 5rem;
  }

  body {
    width: fit-content;
  }

  .main-section {
    column-gap: 1rem;
    margin-right: 2rem;
  }

  /* Mobile navigation */

  .btn-mobile-nav {
    display: block;
    z-index: 0;
  }

  .nav {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0%);
  }

  .nav-open .close-icon {
    display: block;
  }

  .nav-open .menu-icon {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-open .nav-list-links:link,
  .nav-list-links:visited {
    font-size: 2.2rem;
  }
}

/* Mobile filter */

@media (max-width: 750px) {
  html {
    font-size: 62.5%;
  }
  .main-nav {
    /* justify-content: space-around; */
    gap: 2rem;
    font-size: 1.6rem;
  }

  .logo-flex {
    width: 22rem;
  }

  .main-section {
    display: grid;
    /* grid-template-rows: 1fr auto auto; */
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .main-heading {
    grid-column: 1/-1;
    font-size: 3rem;
  }

  .mobile-filter-heading {
    grid-row: 2/-1;
  }

  .mobile-filter-heading {
    display: block;
  }

  .google-map {
    display: none;
  }

  .hidden {
    display: none;
  }
  .filter-whole {
    grid-row: 3/-1;
  }

  .restaurants-list {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .restaurants {
    width: 38rem;
    justify-self: center;
  }

  .img {
    border-radius: 12px 12px 0 0;
    width: 38rem;
    height: 20rem;
  }
  .restaurants-box {
    gap: 1.8rem;
    justify-content: space-around;
    padding: 1.4rem;
    width: 38rem;
    height: 20rem;
  }

  .restaurants-box h3 {
    font-size: 3rem;
  }

  .restaurants-details li {
    font-size: 2.2rem;
    gap: 1.2rem;
  }
  .restaurants-details {
    gap: 1rem;
  }
  .location-icon {
    width: 36px;
    height: 36px;
    fill: #ffbc0d;
  }

  .food-plate-icon {
    width: 3.6rem;
    height: 3.6rem;
  }

  .mobile-filter-flex h4 {
    font-size: 2.8rem;
  }
  .checkbox-flex {
    gap: 0.6rem;
    font-size: 2rem;
    font-weight: 400;
  }

  .checkbox-flex input[type="checkbox"] {
    width: 1.8rem;
    height: 1.8rem;
  }

  .checkbox-container {
    gap: 1.6rem;
  }

  .filter-heading {
    font-size: 2rem;
  }
  .testimonial-text {
    font-size: 2rem;
  }

  .testimonial-author {
    font-size: 1.8rem;
  }

  .aboutus h3 {
    font-size: 2.2rem;
  }

  .aboutus p {
    font-size: 1.8rem;
  }
  .footer-nav ul {
    font-size: 1.8rem;
  }
  .disclaimer-heading {
    font-size: 2rem;
    font-weight: 500;
  }

  .disclaimer-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
